<!-- Sidebar toggle button for mobile -->

<nav class="navbar">
  <div class="navbar-left">
    <a class="navbar-logo" routerLink="/">
      <img src="images/sprintpark learning management system (50 x 50 px).png" alt="logo" class="logo-img" width="150px"
        height="100px" />
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/categories" class="categories-link">Categories</a>
  </div>
  <div class="navbar-center">
    <form class="search-form" (ngSubmit)="onSearch()">
      <div class="search-container">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search for anything" [(ngModel)]="searchQuery" name="searchQuery" required />
      </div>
    </form>
  </div>
  <div class="navbar-right">
    <ul>
      <li><a></a></li>
      <li><a routerLink="/courses"><i class="far fa-book"></i> My Courses</a></li>
      <li><a routerLink="/wishList"><i class="far fa-heart"></i></a></li>
      <li><a routerLink="/cart"><i class="fa fa-shopping-cart"></i></a></li>
      <li><a routerLink="/notifications"><i class="far fa-bell"></i></a></li>
      <li>
        <a routerLink="/login" class="icon-circle">
          <i class="fa fa-user"></i>
        </a>
      </li>
      <li>
        <a routerLink="/signup" class="icon-circle">
          <i class="fa fa-user-plus"></i>
        </a>
      </li>
      <li>
        <a routerLink="/language" class="language-btn">
          En <i class="fa fa-chevron-down"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>